
@{
    ViewBag.Title = "CreatePDF";
}


    <div style="text-align:center">
        <h1>RAPORT</h1>
        DATA: @DateTime.Now

        <p><img src="Charts/SellsPerDate" /></p>
        <br />
        <br />
        <p><img src="Charts/IncomeForWeek" /></p>
        <br />
        <br />
        <p><img src="Charts/SoldBrand" /></p>
        <br />
        <br />
        <p><img src="Charts/Workers" /></p>
    </div>

