@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Dealerships Managment System</h1>
    <p class="lead">University project for Data Base 2 and Programistic Project </p>
    <p><a href="https://github.com/paulinaurbas/BD-Car-Dealerships-Managment-System" class="btn btn-primary btn-lg">Learn more about our project &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Team: </h2>
        <u1>
            <li>Dominik Bistyga</li>
            <li>Michal Herjan</li>
            <li>Michal Lampel</li>
            <li>Franciszek Pogodzinski</li>
            <li>Michal Szopa</li>
            <li>Paulina Urbas</li>
            <li>Pawel Zawierucha</li>
        </u1>
    </div>
    <div class="col-md-4">
        <h2>Techonology stack </h2>
        <u1>
            <li>ASP .NET</li>
            <li>Visual Studio 2019</li>
            <li>C#</li>
            <li>SQL Server</li>
        </u1>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>